body {
    padding: 0;
    margin: 0;
    color: white;
    overflow-x: hidden;
    font-family: 'Roboto-Regular', sans-serif;
    background-image: url(../img/main-background.png);
    background-color: #34495e;
}

main {
    width: 85%;
    height: auto;
    margin: auto;
    min-height:100%;
}

h2 {
    margin-bottom: 75px;
    padding: 0;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 3em;
    font-family: 'Roboto-Regular', sans-serif;
}

.section-container {
    margin: 75px auto;
    height: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
}

/*
 * CALCULATOR SECTION
 */
.calculatorTable {
    border: #FCF0CC solid 1px;
    border-radius: 15px;
    background-color: #2c3c54;
}

.calculatorTable th, td {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input {
    width: 100%;
    padding: 0 25px;
    background-color: #2c3c54;
    border: white 1px solid;
    border-collapse: collapse;
    border-radius: 25px;
    color: wheat;
    font-family: "Roboto-Regular", sans-serif;
    height: 35px;
}

button {
    width: 65px;
    height: 50px;
}

/*
 * FOOTER SECTION
 */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #EF798A;
    height: 75px;
}

.footer p {
    font-family: 'Roboto-Regular', sans-serif;
    padding: 0;
    font-size: 15px;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}