body {
    padding: 0;
    margin: 0;
    color: white;
    overflow-x: hidden;
    font-family: 'Roboto-Regular', sans-serif;
    background-image: url(../img/main-background.png);
    background-color: #34495e;
}

main {
    width: 85%;
    height: auto;
    margin: auto;
    min-height:100%;
}

h2 {
    margin-bottom: 75px;
    padding: 0;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 3em;
    font-family: 'Roboto-Regular', sans-serif;
}

.section-container {
    margin: 75px auto;
    height: 100%;
}

/*
 * CALCULATOR SECTION
 */
.calculator-container {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
}

.grid-container{
    display: grid;
    padding: 25px;
    background-color: #2c3c54;
    border: white 1px solid;
    border-collapse: collapse;
    border-radius: 15px;
    color: wheat;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 10px;
}

.grid-div button{
    font-size: 17px;
    cursor: pointer;
    height: 60px;
    width: 75px;
    border: none;
    border-radius: 5px;
    background-color: #dfe6e9;
    opacity: 0.85;
    margin: 5px;
}

.grid-calculator-input {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.grid-calculator-input input {
    width: 100%;
    padding: 0 25px;
    background-color: #2c3c54;
    border: wheat 1px solid;
    border-collapse: collapse;
    border-radius: 10px;
    color: wheat;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.35em;
    height: 50px;
}

button:hover {
    opacity: 1;
}

/*
 * Button effect
 */
#btn-equal, #btn-point {
    background-color: #ff7675;
}

.btn-operator {
    background-color: #fdcb6e !important;
}

.btn-control {
    background-color: #b2bec3 !important;
}

/*
 * FOOTER SECTION
 */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #EF798A;
    height: 75px;
}

.footer p {
    font-family: 'Roboto-Regular', sans-serif;
    padding: 0;
    font-size: 15px;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}