:root {
    --chatFrameHeight: 500px;
    --chatFrameMaxWidth: 100%;
    --chatFrameBackgroundColor: rgba(52, 73, 94, 0.75);
}

body {
    padding: 0;
    margin: 0;
    color: white;
    overflow-x: hidden;
    font-family: 'Roboto-Regular', sans-serif;
    background-image: url(../img/main-background.png);
    background-color: #34495e;
}

main {
    height: auto;
    margin: auto;
    min-height:100%;
}

h1 {
    padding: 0;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 3em;
    font-family: 'Roboto-Regular', sans-serif;
}

/*
 *      CHAT
 */
.chat-container {
    display: flex;
    height: var(--chatFrameHeight);
    border: var(--chatFrameBackgroundColor) solid 5px;
    border-radius: 25px;
    background-color: var(--chatFrameBackgroundColor);
    width: 90%;
    margin: auto;
    transition: ease-in-out 250ms;
}

.chatDiv {
    width: 100%;
    max-width: var(--chatFrameMaxWidth);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.chatDiv > p {
    color: wheat;
    font-size: 1.05rem;
    letter-spacing: 1px;
    word-break: break-word;
}

/*
 *      INPUT
 */
.input-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.currentChar {
    position: absolute;
    color: black;
    font-size: 1rem;
    padding: 0 1rem;
    margin: 0.25rem;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    display: flex; height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 5rem 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    height: 85%;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#form > button:hover {
    cursor: pointer;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}