body {
    background-image: url(../img/main-background.png);
    overflow-x: hidden;
    padding: 0;
    background-color: #34495e;
    font-family: 'Roboto-Regular', sans-serif;
    color: white;
    margin: 0;
}

h2 {
    color: #EF798A;
}

#header {
    margin: 1em;
    padding: 0.3em 0.5em;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    color: white;
}

#header h1 {
    padding: 0;
    margin: 0;
    font-size: xx-large;
}

#header h1 .subtitle {
    font-size: x-large;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #EF798A;
    height: 75px;
}

#footer p {
    font-family: 'Roboto-Regular', sans-serif;
    padding: 0;
    font-size: 15px;
}

#list-container, #table-container {
    width: 66%;
    margin: 50px auto;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}